# Listas

In [1]:
lista = [1, 7.4, "Henry", True, "Lationamérica"]

In [2]:
print(lista)

[1, 7.4, 'Henry', True, 'Lationamérica']

In [3]:
type(lista)

list

In [5]:
# Slicers
lista[1:4]

[7.4, 'Henry', True]

In [6]:
# steps
lista[1:4:2]

[7.4, True]

In [7]:
lista

[1, 7.4, 'Henry', True, 'Lationamérica']

In [8]:
## Modificar
lista[2] = "Perro"

In [9]:
lista

[1, 7.4, 'Perro', True, 'Lationamérica']

In [10]:
## append
lista.append(False)
lista

[1, 7.4, 'Perro', True, 'Lationamérica', False]

In [11]:
## insert
lista.insert(3, "Indice 3")
lista

[1, 7.4, 'Perro', 'Indice 3', True, 'Lationamérica', False]

In [12]:
## index
lista.index("Lationamérica")

5

In [13]:
## remove
lista.remove("Indice 3")
lista

[1, 7.4, 'Perro', True, 'Lationamérica', False]

In [14]:
## pop
ultimo_elemento = lista.pop()
print(ultimo_elemento)
print(lista)

False
[1, 7.4, 'Perro', True, 'Lationamérica']

In [19]:
## extend (concatenar listas)
segunda_lista = ["Buenos Aires", "Ciudad de México", " Bogotá"]
lista.extend(segunda_lista)
lista

[1,
 7.4,
 'Perro',
 True,
 'Lationamérica',
 'Buenos Aires',
 'Ciudad de México',
 ' Bogotá']

In [20]:
print(lista * 2)

[1, 7.4, 'Perro', True, 'Lationamérica', 'Buenos Aires', 'Ciudad de México', ' Bogotá', 1, 7.4, 'Perro', True, 'Lationamérica', 'Buenos Aires', 'Ciudad de México', ' Bogotá']

In [21]:
lista

[1,
 7.4,
 'Perro',
 True,
 'Lationamérica',
 'Buenos Aires',
 'Ciudad de México',
 ' Bogotá']

In [22]:
lista.pop(3) 
lista

[1,
 7.4,
 'Perro',
 'Lationamérica',
 'Buenos Aires',
 'Ciudad de México',
 ' Bogotá']

In [24]:
lista_numero = [6, 4, 10, 1]
lista_numero.sort(reverse = True)
lista_numero

[10, 6, 4, 1]

In [32]:
lista_letras = ["b", "a", "c"]
lista_letras.sort()
lista_letras

['a', 'b', 'c']

In [30]:
## Contenencia
10 in lista_numero

True

In [31]:
3 in lista_numero

False

In [33]:
## Desempaquetar
letra_1, letra_2, letra_3 = "a", "b", "c"

In [37]:
letra_1, letra_2, letra_3 = lista_letras
print(letra_1)
print(letra_2)
print(letra_3)

a
b
c

In [38]:
print(lista_letras)

['a', 'b', 'c']

# Tuplas

In [39]:
tupla = ("Python", 4, True, 5.8, "Henry", "Python")
tupla

('Python', 4, True, 5.8, 'Henry', 'Python')

In [40]:
type(tupla)

tuple

In [41]:
tuple(lista_letras)

('a', 'b', 'c')

In [42]:
## contenecia
4 in tupla

True

In [43]:
tupla.count("Python")

2

In [44]:
## Empaquetar
edades = 33, 39, 40, 29, 27, 20
edades

(33, 39, 40, 29, 27, 20)

In [45]:
type(edades)

tuple

In [46]:
## Desempaquetar
gustavo, laura, jonny, escarlette, felipe, jimmy = edades
print(gustavo)
print(laura)
print(jonny)
print(escarlette)
print(felipe)
print(jimmy)

33
39
40
29
27
20

# Diccionarios

In [47]:
alumnos = {"gustavo": 33, "laura": 39, "jonny": 40}
alumnos

{'gustavo': 33, 'laura': 39, 'jonny': 40}

In [48]:
type(alumnos)

dict

In [49]:
## Acceder a un valor
alumnos["laura"]

39

In [50]:
## Cambiar un valor
alumnos["jonny"] = 25
alumnos

{'gustavo': 33, 'laura': 39, 'jonny': 25}

In [51]:
alumnos["escarlette"] = 29
alumnos

{'gustavo': 33, 'laura': 39, 'jonny': 25, 'escarlette': 29}

In [52]:
## eliminar llave-valor
del alumnos["gustavo"]
alumnos

{'laura': 39, 'jonny': 25, 'escarlette': 29}

In [53]:
## acceder a todas las llaves
alumnos.keys()

dict_keys(['laura', 'jonny', 'escarlette'])

In [54]:
## Acceder a valor
alumnos.values()

dict_values([39, 25, 29])

In [55]:
## tupla de llave-valor
alumnos.items()

dict_items([('laura', 39), ('jonny', 25), ('escarlette', 29)])

# Iteradores e iterables

In [56]:
## Iteracion listas o tuplas
iterable = [1, 3, 5, 7, 9]
for numero in iterable:
    print(numero * 2)

2
6
10
14
18

In [59]:
## Iteracion en texto
texto = "Python es muy usado en ciencia de datos"
for letra in texto:
    print(letra.upper(), end= "")

PYTHON ES MUY USADO EN CIENCIA DE DATOS

In [60]:
## Iteración sobre diccionarios
paises = {"España": "Europa", "México": "América", "Egipto": "Africa"}

In [61]:
for pais in paises:
    print(pais)

España
México
Egipto

In [62]:
for pais in paises.keys():
    print(pais)

España
México
Egipto

In [63]:
for continente in paises.values():
    print(continente)

Europa
América
Africa

In [64]:
for tupla in paises.items():
    print(tupla)

('España', 'Europa')
('México', 'América')
('Egipto', 'Africa')

# Iterador

In [65]:
colores = ["rojo", "verde", "azul"]

In [66]:
iterador_colores = iter(colores)

In [67]:
next(iterador_colores)

'rojo'

In [68]:
next(iterador_colores)

'verde'

In [69]:
next(iterador_colores)

'azul'

In [70]:
next(iterador_colores)

StopIteration:

In [71]:
next(iterador_colores, None)

# Función zip

In [72]:
nombre = ["Julian", "Esperanza", "Gerardo"]
edades = [33, 39, 42]
combinacion = zip(nombre, edades)
for tupla in combinacion:
    print(tupla)

('Julian', 33)
('Esperanza', 39)
('Gerardo', 42)

# Comprensión de listas

In [73]:
frutas = ["manzana", "banano", "mango", "fresa"]
nueva_lista = []

for fruta in frutas:
    if "o" in fruta:
        nueva_lista.append(fruta)

print(nueva_lista)

['banano', 'mango']

In [74]:
## [valor for variable in iterable if condicion]
nueva_lista_2 = [fruta for fruta in frutas if "o" in fruta]
nueva_lista_2

['banano', 'mango']