Tuplas

In [1]:
mi_tupla =(2, 4, 6, 8, 10)

In [2]:
print(mi_tupla)

(2, 4, 6, 8, 10)

In [3]:
type(mi_tupla)

tuple

In [4]:
tupla_dias =  ("lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo")

In [5]:
print(tupla_dias[1]) # Obtenemos segundo elemento de la lista

martes

In [6]:
"jueves" in tupla_dias

True

In [7]:
"Jueves" in tupla_dias  #Devuelve flase xq al tener una mayuscula lo toma como un elemento distinto

False

In [8]:
tupla_dias.count("sabado")

1

In [11]:
mi_tupla_unitaria = ("blanco",)     # Sintaxis de una tupla de un solo elemento

In [12]:
type(mi_tupla_unitaria)

tuple

In [13]:
mi_tupla = ('amarillo')     #sin la coma (,) se lo toma como una variable de tipo string

In [14]:
type(mi_tupla)

str

In [15]:
tupla_dias

('lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo')

In [16]:
tupla_dias[2]   #obtemos elemento del indice 2, tercer lugar

'miercoles'

In [17]:
tupla_dias[1:3]     #Obtenemos [n:n-1]

('martes', 'miercoles')

In [18]:
tupla_dias[0] = "lunes"     #Da error xq las tuplas no pueden modificarse

TypeError: 'tuple' object does not support item assignment

Empaquetado de tuplas

In [19]:
x = 11
y = 22
z = "Henry"

In [20]:
mi_tupla = x, y, z      #Creamos una tupla a partir de variables

In [21]:
print(mi_tupla)

(11, 22, 'Henry')

In [22]:
type(mi_tupla)

tuple

Desempaquetado de tupla

In [23]:
date = (22, "agosto", 1999)

In [24]:
print(date)

(22, 'agosto', 1999)

In [25]:
type(date)

tuple

In [26]:
uno, dos, tres = date   #al igualar los elementos a la tupla asignamos los elementos de la misma a las variables.

In [28]:
print(uno)
print(dos)
print(tres)

22
agosto
1999

In [29]:
uno, dos =date  #da error xq debe tener la misma cantidad de elementos

ValueError: too many values to unpack (expected 2)

In [30]:
uno, dos, tres, cuatro = date   # da error xq hay mas variables que elementos para desempaquetar

ValueError: not enough values to unpack (expected 4, got 3)

In [31]:
tupla_impares = (1, 3, 5 , 7, 9)

In [32]:
primero = tupla_impares[0]  #desempaquetamos usando el indice
cuarto = tupla_impares[3]
quinto = tupla_impares[4]

In [33]:
print(primero)
print(cuarto)
print(quinto)

1
7
9

In [36]:
tupla_impares

(1, 3, 5, 7, 9)

In [43]:
_,_,_,cuarto,quinto = tupla_impares

In [44]:
print(cuarto)
print(quinto)

7
9

In [45]:
lista_impares = list(tupla_impares)     #convetimos una tupla en una lita

In [46]:
print(lista_impares)

[1, 3, 5, 7, 9]

In [47]:
type(lista_impares)

list

In [48]:
nueva_tupla = tuple(lista_impares)  #convertimos una lista en una tupla

In [49]:
print(nueva_tupla)

(1, 3, 5, 7, 9)

In [50]:
type(nueva_tupla)

tuple