## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [9]:
numero_entero= 4
print(numero_entero)

4

2) Imprimir el tipo de dato de la constante 8.5

In [10]:
print(int(8.5))

8

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [11]:
print(type(numero_entero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [12]:
mi_nombre= 'Josué Velasco'

5) Crear una variable que contenga un número complejo

In [14]:
numero_complejo=3+3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [15]:
print(type(numero_complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [16]:
pi=3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [17]:
variable1="True"
variable2=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [22]:
print('la variable1 es', type(variable1), 'y la variable2 es' ,type(variable2))

la variable1 es <class 'str'> y la variable2 es <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [26]:
entero_decimal= 4+3.2

11) Realizar una operación de suma de números complejos

In [40]:
a=4j+4j
print(a)

8j

12) Realizar una operación de suma de un número real y otro complejo

In [41]:
b=4+4j
c=8+8j
print(b+c)

(12+12j)

13) Realizar una operación de multiplicación

In [42]:
d=3*2
print(d)

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [43]:
e=2**8
print(e)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [44]:
f=27/4
print(f)

6.75

16) De la división anterior solamente mostrar la parte entera

In [45]:
print(int(f))

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [46]:
print(24%7)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [47]:
4*6+4

28

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [50]:
'Hola' + ' mundo'

'Hola mundo'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [70]:
print(bool("2" == 2))
print("'a' es de tipo", type('2'), "mientras que a es tipo", type(2))

False
'a' es de tipo <class 'str'> mientras que a es tipo <class 'int'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [74]:
"2" == str(2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [77]:
a = float('3,8') #Ya es float

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [84]:
g = 3
g -= 1
print (g)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [91]:
h = (1 << 2)
print (h)
print ("El número 1 es desplazado dos posiciones y se multiplica con 2 a la potencia de 2")
print ("El Sistema binario solo utiliza dos cifras para representar todos sus números, el 0 y el 1")

4
El número 1 es desplazado dos posiciones y se multiplica con 2 a la potencia de 2
El Sistema binario solo utiliza dos cifras para representar todos sus números, el 0 y el 1

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [94]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [1]:
i = 3
j = "tarea "
print (i * j)

tarea tarea tarea