## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [93]:
y = 14
print(y)

14

2) Imprimir el tipo de dato de la constante 8.5

In [94]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [95]:
type(y)

int

4) Crear una variable que contenga tu nombre

In [96]:
mi_name = "Rodrigo Perez Aller"
type(mi_name)
print(mi_name)

Rodrigo Perez Aller

5) Crear una variable que contenga un número complejo

In [97]:
numero_complejo= 3+8j
print(numero_complejo)

(3+8j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [98]:
type(numero_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [99]:
pi=3.1416
print(pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [100]:
var1 = 'True'
var2 = True
valor_cadena = 'True'
valor_booleano = True
son_iguales = (valor_cadena == valor_booleano)
tipo_valor_cadena = type(valor_cadena)
tipo_valor_booleano = type(valor_booleano)
son_iguales, tipo_valor_cadena, tipo_valor_booleano

(False, str, bool)

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [101]:
print(son_iguales, tipo_valor_cadena, tipo_valor_booleano)
print(var1, var2)
print(type(var1), type(var2))
print(type(valor_cadena), type(valor_booleano))
print(son_iguales, tipo_valor_cadena, tipo_valor_booleano)

False <class 'str'> <class 'bool'>
True True
<class 'str'> <class 'bool'>
<class 'str'> <class 'bool'>
False <class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [102]:
y = 18+11.4

11) Realizar una operación de suma de números complejos

In [103]:
y = 2+5j
w = 5+9j
print(y+w)

(7+14j)

12) Realizar una operación de suma de un número real y otro complejo

In [104]:
y= w +1.61
print(y)

(6.61+9j)

13) Realizar una operación de multiplicación

In [105]:
print(5*6)

30

14) Mostrar el resultado de elevar 2 a la octava potencia

In [106]:
print(5**6)

15625

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [107]:
p = 52/7
print(p)
round(p, 2)

7.428571428571429

7.43

16) De la división anterior solamente mostrar la parte entera

In [108]:
print(52//7)

7

17) De la división de 27 entre 4 mostrar solamente el resto

In [109]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [110]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [111]:
var1 = "Estados"
var2 = "Unidos"
print(var1, var2)

Estados Unidos

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [112]:
2=="2"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [113]:
2== int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [118]:
a = float("3,8")

TypeError: 'float' object is not callable

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [ ]:
a = -3
a -= 1
print(a)

-4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [ ]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
2+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [120]:
float(2) + float("2")

TypeError: 'float' object is not callable

In [ ]:
int(2) + int("2")
print(int(2) + int("2"))

4

In [ ]:
str(2) + str("2")

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [123]:
var1 = "este texto se repite"
var2 = 3
print(var1*var2+str(var2) + "veces")

este texto se repiteeste texto se repiteeste texto se repite3veces