## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
x = 4
print (x)

4

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
a = 8.5
print (a)

8.5

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print (x)

4

4) Crear una variable que contenga tu nombre

In [6]:
name = "Benjamín"
print ("Tú nombre es: " + name)

Tú nombre es: Benjamín

5) Crear una variable que contenga un número complejo

In [11]:
z = 3
b = 2
c = 2
d = (z+b+c)
print (d)

7

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [12]:
print (d)

7

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [13]:
print (type(d))

<class 'int'>

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [16]:
verdadero = True
cierto = 'True'

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [17]:
print (type(verdadero))
print (type(cierto))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
f= (3 + 2.5)
print (f)

5.5

11) Realizar una operación de suma de números complejos

In [19]:
g= (45 + 3 + 2.5)
print (g)

50.5

12) Realizar una operación de suma de un número real y otro complejo

In [20]:
j= (1+2+3+4+5)
k= (12 + 3 + 2)
m= (j + k)
print (m)

32

13) Realizar una operación de multiplicación

In [21]:
q = (32 * 12)
print (q)

384

14) Mostrar el resultado de elevar 2 a la octava potencia

In [22]:
w = (2^8)
print (w)

10

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [24]:
e = (25 / 5)
print (e)

5.0

16) De la división anterior solamente mostrar la parte entera

In [25]:
print (round(e))

5

17) De la división de 27 entre 4 mostrar solamente el resto

In [27]:
t= (27 % 4)
print (t)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [29]:
problema_a = (4 * 4 * 4 * 4 / e -4 -4 -4 -4 -4 -4)
problema_b = (4 * 4 + 4 + 4 + t)

print (round(problema_a))
print (problema_b)

27
27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [30]:
variable_a = "Hola "
variable_b = "tonotos"
variable_c = (variable_a + variable_b)
print (variable_c)

Hola tonotos

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [35]:
b = "2"
n = 2
eval("b == n")

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [36]:
resultado_20 = int(b) == n
print (resultado_20)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [37]:
a = float("3.8")
print (a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [42]:
variable_d = 3
variable_d -= 1
print (variable_d)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [43]:
ad= 1<<2
print= (ad)

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [99]:
#No está permitido porqué a pesar que son dos numeros iguales no son el mismo tipo de dato, ne dado caso lo mejor seria convertirlos a un mismo dato:

bc = 2 + int("2") + str("2")
print (bc)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [113]:
var1= "Hola tonotos"
var2= 2
var3= int(var1) * var2
print (var3)

ValueError: invalid literal for int() with base 10: 'Hola tonotos'