### **Carlos Joaquin Rodriguez**

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [38]:
punto_uno = 1
print(punto_uno)

1

2) Imprimir el tipo de dato de la constante 8.5

In [41]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [42]:
print(type(punto_uno))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [43]:
nombre = "Joaquin"

5) Crear una variable que contenga un número complejo

In [59]:
num_complejo = 1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [60]:
print(type(num_complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [49]:
pi = 3.1416

In [50]:
print(round(pi,2))

3.14

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [51]:
string_true = 'True'
bool_true = True

--- 
No es lo mismo, son tipos de datos distintos. Uno es String y el otro es Booleano

---

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [55]:
print("'string_true' es de tipo ", type(string_true))
print("'bool_true' es de tipo ",type(bool_true))

'string_true' es de tipo  <class 'str'>
'bool_true' es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [64]:
suma_int_float = 1 + 1.9
print(suma_int_float)

2.9

11) Realizar una operación de suma de números complejos

In [79]:
complex0 = 1 + 2j
complex1 = 2 + 1j
print(complex0 + complex1)

(3+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [86]:
real_mas_complex = 1.1 + complex0
print(real_mas_complex)

(2.1+2j)

13) Realizar una operación de multiplicación

In [67]:
multiplicacion = 2 * 3
print(multiplicacion)

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [68]:
print(2 ** 8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [71]:
cociente_27y4 = 27 / 4
print(cociente_27y4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [105]:

print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [74]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [75]:
print(4 * 6 + 3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [87]:
hola = "Hola "
mundo = "Mundo!"
print(hola+mundo)

Hola Mundo!

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [90]:
print("2" == 2)

False

Esto sucede porque son tipos distintos de datos, entonces no pueden compararse

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [92]:
print(int("2") == 2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [93]:
a = float("3,8")

ValueError: could not convert string to float: '3,8'

Da error porque la sintaxis correcta para valores float es con punto "." no con coma ","

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [95]:
variable3 = 3
variable3 -= 2
print(variable3)

1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [96]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [98]:
print(2 + '2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [101]:
2 + int("2")

4

In [102]:
str(2) + "2"

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [104]:
palabras = "primero segundo"
numero = 2
print(palabras * numero)

primero segundoprimero segundo