<font size="8"> VARIABLES </font>

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 5
print(a)

5

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [21]:
myname = 'René Navas'

5) Crear una variable que contenga un número complejo

In [10]:
c = 2 + 1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [11]:
type(c)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [12]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [13]:
bool1 = True
bool2 = 'True'
# No son lo mismo, uno es un booleano, el otro string.

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [19]:
print("bool1 es", type(bool1),"Bool2 es", type(bool2))

bool1 es <class 'bool'> Bool2 es <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [20]:
d = 2 +  2.3

11) Realizar una operación de suma de números complejos

In [22]:
e = 2 + 5j
print(c+e)

(4+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [23]:
print(a + e)

(7+5j)

13) Realizar una operación de multiplicación

In [24]:
print (4 * 8)

32

14) Mostrar el resultado de elevar 2 a la octava potencia

In [25]:
print ( 2 ** 8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [26]:
f = 27 / 4
print(f)

6.75

16) De la división anterior solamente mostrar la parte entera

In [30]:
g = 27 // 4
print(g)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [31]:
h = 27%4
print(h)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [33]:
i = g * 4 + 3
print(i)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [34]:
palabra = "soy"
print (palabra , myname)

soy René Navas

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [37]:
"2" == 2
## Es falso porque son diferentes por ser distinto tipo de dato.

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [38]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [44]:
'''Python utiliza la notacion de punto americana, la cual usa un punto '.' para separar los numeros despues de la coma
las comas se reservan para las tuplas, otro tipo de dato'''

a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [42]:
a = 3 
a -= 1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [43]:
1 << 2

#corre los bits hacia la izquiera 2 lugares, en binario eso da 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [46]:
2 + '2'
'''Python no sabe como operar la suma entre un entero y un string
Si fuesen dos enteros el resultado seria 4, si fuesen dos strings 
las concatena dando como resultado 22'''

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [49]:
(myname + " ") * 3 + myname

'René Navas René Navas René Navas'