## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [7]:
X = 1
Y = 2

2) Imprimir el tipo de dato de la constante 8.5

In [10]:
type(8.5)

float

In [8]:
print(X,Y) #se puede print(x) print(y) o también prin (x,y)

1 2

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [15]:
print (type(X))
print (type(Y))

<class 'int'>
<class 'int'>

In [16]:
print(type(X,Y))

TypeError: type() takes 1 or 3 arguments

4) Crear una variable que contenga tu nombre

In [18]:
minombre="Katherin"
print(minombre)

Katherin

5) Crear una variable que contenga un número complejo

In [20]:
numero_complejo= 4+15j
print(numero_complejo)

(4+15j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [21]:
print(type(numero_complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [1]:
pi=3.141592
print(pi)

3.141592

In [2]:
print(round(pi,4))

3.1416

In [5]:
import math

pi2 = math.pi

In [6]:
pi2

3.141592653589793

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
#ESTO ES UNA PRUEBA

In [23]:
a="True"
b= True
print(type(a))
print(type(b))

<class 'str'>
<class 'bool'>

No se trata de lo mismo pues todo valor que se encuentre dentro de las comillas es una cadena de valores alfanumericos

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [25]:
punto9=25*9
print(type(punto9))

<class 'int'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [26]:
suma=8+15.2
print(suma)

23.2

11) Realizar una operación de suma de números complejos

In [27]:
compl1= 5+236j
compl2= 6+87j
print(compl1+compl2)

(11+323j)

12) Realizar una operación de suma de un número real y otro complejo

In [28]:
real=5
compl3= 5+98j
print(real+compl3)

(10+98j)

13) Realizar una operación de multiplicación

In [29]:
print(25*25)

625

14) Mostrar el resultado de elevar 2 a la octava potencia

In [30]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [31]:
print(27/4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [32]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [33]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [34]:
print(6*4+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [36]:
print("hola"+" amor")

hola amor

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [37]:
print("2"==2)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [38]:
print(int("2")+2)

4

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [39]:
print(float(3,8))

TypeError: float expected at most 1 argument, got 2

por la coma, para décimales sólo se puede utilizar el punto

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [48]:
valor3=3

In [57]:
valor3-=1

In [58]:
print(valor3)

-2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [1]:
print(1<<2)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [2]:
print(2+"2")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
print(type(2))
print(type("2"))

<class 'int'>
<class 'str'>

No sé puede porque un valor es string y el otr int

26) Realizar una operación válida entre valores de tipo entero y string

In [5]:
print(258*int("25"))

6450